.select-component {}
	
	.select-component .items {
		display: flex;
		padding: 0;
		height: 250px;
		list-style: none;
	}

		.select-component .items li {
			position: relative;
			width: 200px;
		}

		.select-component .items li img {
			position: absolute;
			top: 0; left: 0;
			width: 100%;
			opacity: 0;
			transition: opacity 0.5s, transform 0.5s cubic-bezier(0, 0.18, 0, 1.01);
		}

		.select-component .items li img.checked:hover,
		.select-component .items li img.unchecked {
			transform: translateY(-40px);
		}

		.select-component .items li img.checked {
			opacity: 1;
		}

		.select-component .items li.DISABLED img.checked {
			opacity: 0;
			z-index: -1;
			transform: translateY(0);
		}

		.select-component .items li.DISABLED img.unchecked {
			opacity: 1;
			transform: translateY(0);
		}