<ul class="items" pl-action="select(event.target)">
	<!-- DO-NOT ADD SPACE/RETURN AFTER <li>'s -->
	<li>
		<img class="unchecked" src="images/lightbulb_off_1.png">
		<img class="checked"   src="images/lightbulb_on_1.png">
	</li><li>
		<img class="unchecked" src="images/lightbulb_off_1.png">
		<img class="checked"   src="images/lightbulb_on_1.png">
	</li><li>
		<img class="unchecked" src="images/lightbulb_off_1.png">
		<img class="checked"   src="images/lightbulb_on_1.png">
	</li><li>
		<img class="unchecked" src="images/lightbulb_off_1.png">
		<img class="checked"   src="images/lightbulb_on_1.png">
	</li><li>
		<img class="unchecked" src="images/lightbulb_off_1.png">
		<img class="checked"   src="images/lightbulb_on_1.png">
	</li>
</ul>

<div pl-component="reval"></div>