<ul pl-action="select(event.target)">
	<!-- DO-NOT ADD SPACE/RETURN AFTER <li>'s -->
	<li>
		<img class="off" src="images/lightbulb_off_1.png">
		<img class="on"  src="images/lightbulb_on_1.png">
	</li><li>
		<img class="off" src="images/lightbulb_off_1.png">
		<img class="on"  src="images/lightbulb_on_1.png">
	</li><li>
		<img class="off" src="images/lightbulb_off_1.png">
		<img class="on"  src="images/lightbulb_on_1.png">
	</li><li>
		<img class="off" src="images/lightbulb_off_1.png">
		<img class="on"  src="images/lightbulb_on_1.png">
	</li><li>
		<img class="off" src="images/lightbulb_off_1.png">
		<img class="on"  src="images/lightbulb_on_1.png">
	</li><li>
		<img class="off" src="images/lightbulb_off_1.png">
		<img class="on"  src="images/lightbulb_on_1.png">
	</li>
</ul>