<ul class="cards" pl-action="flip(target('li'))">
	<li>
		<div class="side b center inline">
			<p>World</p>
		</div>
		<div class="side a center inline">
			<p>Hello</p>
		</div>
	</li><li class="rl">
		<div class="side b center inline">
			<p>Knock, knock, knock Neo!</p>
		</div>
		<div class="side a center inline">
			<p>The Matrix has you...</p>
		</div>
	</li><li class="tb" pl-id="polar">
		<div class="side b center inline">
			<p>Polar Bear</p>
		</div>
		<div class="side a center inline">
			<img src="images/carousel_polar_bear2.png">
		</div>
	</li><li class="bt" pl-id="polar">
		<div class="side b center inline">
			<p>Sloth Bear</p>
		</div>
		<div class="side a center inline">
			<img pl-id="sloth" src="images/carousel_sloth_bear2.png">
		</div>
	</li>
</ul>