* {
	/*transform-style: preserve-3d*/;
}

html, body {
	margin: 0;
	height: 100%;
}

button, textarea, input, select {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
}

ul, ol {
	padding: 0;
}