html {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	cursor: default;
}
.POSITIONED {
    transform-origin: top left;
}

.POSITIONED.absolute {
	position: absolute;
	top: 0; left: 0;
}

.PLUCKED {
	opacity: 0;
}

.draggables .DRAG-START,
.draggables .DRAGGING,
.draggable-helper {
	z-index: 1;
	cursor: -webkit-grabbing;
}

.draggable-helper.PLUCKED {
	opacity: 1;
}

.draggable-helper.RETURN {
	opacity: 0;
	/* One of the rare times I'll use important. This is to override an inline style. */
	transform: translate3d(0,0,0) !important; 
	transition: transform 0.5s cubic-bezier(0, 0.18, 0, 1.01), opacity 1s;
}

.draggable-helper.RETURN.PLUCKED {
	opacity: 1;
}

.draggable-helper.DROPED {
	opacity: 0;
	transition: opacity 1s;
}