html {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	cursor: default;
}
.POSITIONED {
    transform-origin: top left;
}

.POSITIONED.absolute {
	position: absolute;
	top: 0; left: 0;
}

[pl-draggable=pluck] {
	/*transition: opacity 1s;*/
}

.PLUCKED {
	opacity: 0;
}

.draggable-helper {
	z-index: 1;
}

.draggable-helper.PLUCKED {
	opacity: 1;
}

.draggable-helper.DRAG-ENDED {
	opacity: 0;
	/* One of the rare times I'll use important. This is to override an inline style. */
	transform: translate3d(0,0,0) !important; 
	transition: transform 0.5s cubic-bezier(0, 0.18, 0, 1.01), opacity 1s !important;
}

.draggable-helper.DRAG-ENDED.PLUCKED {
	opacity: 1;
}