.selectable-component {}
	
	.selectable-component .items {
		display: flex;
		padding: 0;
		height: 250px;
		list-style: none;
	}

		.selectable-component .items li {
			position: relative;
			width: 200px;
		}

		.selectable-component .items li img {
			position: absolute;
			top: 0; left: 0;
			width: 100%;
			opacity: 0;
			transition: opacity 0.5s, transform 0.5s cubic-bezier(0, 0.18, 0, 1.01);
		}

		.selectable-component.VOICE-OVER .items li img,
		.VOICE-OVER .selectable-component .items li img {
			/* disables the :hover rules when a VO is playing. */
			pointer-events: none;
		}

		.selectable-component .items li img.checked:hover,
		.selectable-component .items li img.unchecked:hover {
			transform: translateY(-40px);
		}

		.selectable-component .items li img.checked {
			opacity: 1;
		}

		.selectable-component .items li.HIGHLIGHTED img.checked {
			opacity: 0;
			z-index: -1;
			transform: translateY(0);
		}

		.selectable-component .items li.HIGHLIGHTED img.unchecked {
			opacity: 1;
			transform: translateY(0);
		}