.selectable-all-component {}
	
	.selectable-all-component .bin {
		display: none;
	}

	.selectable-all-component .viewport {
		position: absolute;
		left: 0; right: 0;
		top: 0; bottom: 0;
	}

		.selectable-all-component ul {
			text-align: center;
		}

			.selectable-all-component li {
				position: relative;
				display: inline-block;
				width: 100px;
				height: 150px;
				background: no-repeat center center;
				background-size: 100%;
				/* Id rather do a transform but this works better with click events. I may want to do my own hit testing. */
				transition: top cubic-bezier(1, 0.01, 1, 1);
				top: 600px;
			}

			.selectable-all-component li.LAUNCHED {
				top: -200px;
			}


			.selectable-all-component li.b {
				background-image: url(images/ballon_1.png);
			}

			.selectable-all-component li.b.HIGHLIGHTED {
				background-image: url(images/ballon_1_on.png);
			}

			
			.selectable-all-component li.ws {
				background-image: url(images/ballon_10.png);
			}

			.selectable-all-component li.ws.HIGHLIGHTED {
				background-image: url(images/ballon_10_on.png);
			}

			
			.selectable-all-component li.f {
				background-image: url(images/ballon_14.png);
			}

			.selectable-all-component li.f.HIGHLIGHTED {
				background-image: url(images/ballon_14_on.png);
			}