@keyframes reload {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.cannon-component {}

	.cannon-component img {}

	.cannon-component img.LAUNCHED {
		/* 
		*  Normaly I would define the transition on the default rule but this way
		*  the animation will not play when the "LAUNCHED" flag is removed.
		*/
		transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1);
		transform: translateY(-100px);
	}

	.cannon-component img.RELOAD {
		animation: reload 1s;
	}