@keyframes launch {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-100px);
	}
}

@keyframes reload {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.cannon-component {}

	.cannon-component img {
		
	}

	.cannon-component img.LAUNCHED {
		transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1);
		transform: translateY(-100px);
	}

	.cannon-component img.RELOAD {
		animation: reload 1s;
	}