.screen-basic-component {}
	
	.screen-basic-component > *:nth-child(2) {
		margin-top: 45px;
	}

	.screen-basic-component button.close {
		position: relative;
		float: right;
		border: none;

		font-size: 2em;
		z-index: 1;
	}

	.screen-basic-component button.close:active{
		transform: scale(0.8);
	}