.title-component {}
	
	.title-component img.background {
	    min-width: 100%;
	    min-height: 100%;
	}

	.title-component .center img {
		width: 70%;
		opacity: 0;
		transition: opacity 0.5s;
	}

	.title-component .center img.animated {
		opacity: 1;
	}