.reveal-component {}
	
	.reveal-component ul {
		position: relative;
		padding: 0;
	}

		.reveal-component li {
			list-style: none;
			opacity: 0;
			transition: opacity 0.5s;
		}

		.reveal-component li.OPEN {
			opacity: 1;
		}